.f-cc{
  justify-content: center;
  align-items: center;
}

.df-cc-c{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header{
  width: 100%;
  z-index: 1000;
  top: 0px;
}

.max-p{
  max-width: 380px;
}

.devider-hr{
  display: inline-block;
  width: 90px;
  min-height: 5px;
  border-radius: 10px;
}
.Avatar{
  width: 250px;
}
#sec-intro {
  min-height : 65vh
}

.portfolio-item {
  min-width: 250px;
  min-height: 180px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  /* overflow: hidden; */
}
.portfolio-item >.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
  background-color: transparent;
}
.portfolio-item>.overlay:hover {
  opacity: 10;
  background-color: rgba(23, 162, 184, 0.911);
  color: var(--white);
  cursor: pointer; ;
}